@charset "UTF-8";

 
.osm-home:before { content: '󠠁'; } /* '\e0801' */
.osm-globe:before { content: '󠠐'; } /* '\e0810' */
.osm-link-ext:before { content: '󠠃'; } /* '\e0803' */
.osm-pin:before { content: '󠠄'; } /* '\e0804' */
.osm-location:before { content: '󠠅'; } /* '\e0805' */
.osm-link:before { content: '󠠂'; } /* '\e0802' */
.osm-cog:before { content: '󠠇'; } /* '\e0807' */
.osm-zoom-in:before { content: '󠠈'; } /* '\e0808' */
.osm-zoom-out:before { content: '󠠉'; } /* '\e0809' */
.osm-left-big:before { content: '󠠑'; } /* '\e0811' */
.osm-direction:before { content: '󠠆'; } /* '\e0806' */