@charset "UTF-8";

 @font-face {
  font-family: 'osm';
  src: url('../font/osm.eot?87643405');
  src: url('../font/osm.eot?87643405#iefix') format('embedded-opentype'),
       url('../font/osm.woff?87643405') format('woff'),
       url('../font/osm.ttf?87643405') format('truetype'),
       url('../font/osm.svg?87643405#osm') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'osm';
    src: url('../font/osm.svg?87643405#osm') format('svg');
  }
}
*/
 
 [class^="osm-"]:before, [class*=" osm-"]:before {
  font-family: "osm";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.osm-home:before { content: '\e801'; } /* '' */
.osm-globe:before { content: '󠠄'; } /* '\e0804' */
.osm-link-ext:before { content: '󠠃'; } /* '\e0803' */
.osm-pin:before { content: '󠠁'; } /* '\e0801' */
.osm-location:before { content: '󠠈'; } /* '\e0808' */
.osm-direction:before { content: '󠠇'; } /* '\e0807' */
.osm-link:before { content: '󠠀'; } /* '\e0800' */
.osm-cog:before { content: '\e800'; } /* '' */
.osm-cog-alt:before { content: '󠠅'; } /* '\e0805' */
.osm-zoom-in:before { content: '󠠂'; } /* '\e0802' */
.osm-zoom-out:before { content: '\e803'; } /* '' */
.osm-left-big:before { content: '\e802'; } /* '' */
.osm-compass:before { content: '󠠆'; } /* '\e0806' */